<div class="transactions border rounded p-4 bg-white">
  <div *ngIf="activeTodos" class="d-flex justify-content-between">
    <p class="fw-bold">Transações Recentes</p>
    <button class="btn btn-secondary btn-sm">
      Ver Todas
    </button>
  </div>
  <p *ngIf="!activeTodos" class="fw-bold">Todas as Transações</p>
  <div
    *ngFor="let transaction of (activeTodos ? (transactions | slice:0:3) : transactions)"
    class="border rounded mb-3 mt-2 bg-light"
  >
    <div class="transaction-item d-flex justify-content-between align-items-center py-3">
      <div class="transaction-info ms-3">
        <div class="transaction-description fw-bold">
          {{ transaction.description }}
        </div>
        <div class="transaction-category text-muted small">
          {{ transaction.category }}
        </div>
      </div>
      <div class="transaction-details text-end me-3">
        <div
          class="transaction-amount fw-bold"
          [class.text-success]="transaction.amount > 0"
          [class.text-danger]="transaction.amount < 0"
        >
          {{ transaction.amount | currency:'BRL':'symbol':'1.2-2' }}
        </div>
        <div class="transaction-date text-muted small">
          {{ transaction.date | date:'dd/MM/yyyy' }}
        </div>
      </div>
    </div>
  </div>
</div>