.container-fluid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;
}

.metas-content{
  padding: 24px 48px;
}

@media (max-width: 770px){
  .btn-meta{
    justify-content: flex-start !important;
    margin-bottom: 20px;
  }
}