<div class="dashboard-container">
  <div class="sidebar-header">
    <a class="board">
      <i class="fa-solid fa-wallet"></i>
      <span>Finance Control</span>
    </a>

    <button class="menu-toggle d-md-none" type="button" (click)="toggleMenu()" aria-label="Abrir menu">
      <i class="fa-solid" [ngClass]="isMenuOpen ? 'fa-xmark' : 'fa-bars'"></i>
    </button>
  </div>

  <nav class="dashboard-sidebar" [class.open]="isMenuOpen">
    <ul role="navigation">
      <li *ngFor="let item of menuItems" (click)="onMenuClick(item.route)" [class.active]="activeTab === item.tab">
        <a>{{ item.name }}</a>
      </li>
    </ul>
  </nav>
</div>