<div class="modal" [class.show]="isOpen" [style.display]="isOpen ? 'block' : 'none'" [style.backgroundColor]="isOpen ? 'rgba(0, 0, 0, 0.5)' : 'transparent'" tabindex="-1" (click)="closeModal()">
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Transação</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
    <div class="modal-body">
      <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
      <form (ngSubmit)="editTransactions()">
        <div class="form-group mb-3">
          <label for="description" class="form-label">Descrição</label>
          <input 
            type="text" 
            class="form-control" 
            id="description" 
            name="description" 
            required 
            [(ngModel)]="localTransaction.description"
          />
        </div>
        <div class="form-group mb-3">
          <label class="form-label"> Valor</label>
          <div class="input-group">
            <input
              currencyMask
              name="amount"
              class="form-control text-start"
              [(ngModel)]="localTransaction.amount"
              [options]="{
                prefix: '',
                thousands: '.',
                decimal: ',',
                precision: 2
              }"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="type" class="form-label">Tipo</label>
          <div class="radio-group">
            <div class="radio-option d-flex align-items-center gap-2">
              <input 
                type="radio" 
                class="radio d-flex" 
                id="type-income" 
                name="type" 
                value="income" 
                required
                [(ngModel)]="localTransaction.type" 
              />
              <label for="type-income" class="mb-0" style="color: green;">Entrada</label>
              <input 
                type="radio" 
                class="radio d-flex" 
                id="type-expense" 
                name="type" 
                value="expense" 
                required
                [(ngModel)]="localTransaction.type" 
              />
              <label for="type-expense" class="mb-0" style="color: red;">Saída</label>
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="category" class="form-label">Categoria</label>
          <select class="form-control" id="category" name="category" required [(ngModel)]="localTransaction.category">
            <option value="">Selecione uma categoria</option>
            <option value="Alimentacao">Alimentação</option>
            <option value="Transporte">Transporte</option>
            <option value="Saude">Saúde</option>
            <option value="Outros">Outros</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="date" class="form-label">Data</label>
          <input type="date" class="form-control" id="date" name="date" required [(ngModel)]="localTransaction.date" />
        </div>
        <div class="modal-footer d-flex justify-content-end gap-2">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
          <button type="submit" class="btn btn-primary" (submit)="editTransactions()">Editar</button>
        </div>
      </form>
    </div>
  </div>
</div>