<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
<div class="dashboard-container">
  <a class="board" href="#"><i class="fa-solid fa-wallet"></i>Finance Control</a>
    <div class="dashboard-sidebar">
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Transactions</a></li>
        <li><a href="#">Budgets</a></li>
        <li><a href="#">Metas</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>
</div>
</body> 
</html>