<div class="container-fluid">
  <app-side></app-side>
  <div class="dashboard-content">
    <div class="row">
      <div class="col-md-6">
        <h2>Dashboard Financeiro</h2>
        <p style="color: gray;">Visão geral das finanças</p>
      </div>
      <div class="newTransactions col-md-6 d-flex align-items-center">
        <button class="btn btn-primary btn-sm rounded p-2" (click)="activeModal = true"><i class="fa-solid fa-plus"></i> Nova Transação</button>
      </div>
    </div>
  </div>
  <div class="cards-container">
    <app-cards [transactions]="transactions" [isLoading]="isLoading" [configs]="[
      { type: 'income'},
      { type: 'expense'},
      { type: 'balance'}
    ]">
    </app-cards>
  </div>
  <div class="transactions-container justify-content-between row gx-0 gy-3 px-5 mt-2">
    <div class="col-12 col-lg-8">
      <app-recent-transactions [transactions]="transactions" [activeTodos]="true"></app-recent-transactions>
    </div>
    <div class="col-12 col-lg-4">
      <app-spending [transactions]="transactions"></app-spending>
    </div>
  </div>
</div>

<app-modal-transactions [isOpen]="activeModal" (close)="activeModal = false"></app-modal-transactions>