.container-fluid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;
}

.transactions-content{
  padding: 24px 48px;
}

.filters{
  padding: 0px 48px;
}

#borda{
  width: 67rem;
  background-color: white;
}