.container-fluid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;
}

.transactions-content{
  padding: 24px 48px;
}

.filters{
  padding: 0px 48px;
}

#borda{
  width: 75rem;
  background-color: white;
}
input, select {
  appearance: none;
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #0d6efd !important;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
    outline: none;
  }
}