<div class="cards-container px-5">
  <div class="row">
    <div class="col border rounded me-3 p-3">
      <div class="d-flex justify-content-left align-items-center">
        <i class="fa-solid fa-arrow-up"></i>
        <div class="receitas ms-4">
          Receitas
          <div class="value">R$ 5.000,00</div>
        </div>
      </div>
    </div>
    <div class="col border rounded me-3 p-3">
      <div class="d-flex justify-content-left align-items-center">
        <i class="fa-solid fa-arrow-down"></i>
        <div class="despesas ms-4">
          Despesas
          <div class="value">R$ 2.000,00</div>
        </div>
      </div>
    </div>
    <div class="col border rounded me-3 p-3">
      <div class="d-flex justify-content-left align-items-center">
      <i class="fa-solid fa-arrow-right"></i>
      <div class="saldo ms-4">
        Saldo
        <div class="value">R$ 3.000,00</div>
      </div>
    </div>
    </div>
  </div>
</div>